.task-outline-container {
	width: 600px !important;
	margin: 10px auto;
}

.bold-accordion-text {
	color: rgba(0, 0, 0, 0.8) !important;
}

.light-accordion-text {
	color: rgba(0, 0, 0, 0.4) !important;
}

.hide {
	display: none;
}

.add-button {
	float: right;
}

.content-button {
	margin-bottom: -14px !important;
}

.main-segment {
	width: 700px;
	padding-bottom: 50px !important;
	padding-top: 25px !important;
	margin: 40px auto !important;
}

.centered-div {
	width: 50% !important;
	margin: auto !important;
	display: block !important;
}

.centered-inline {
	text-align: center !important;
}

.centered-vertical {
	position: absolute !important;
	width: 500px !important;
	height: 250px !important;
	top: 50% !important;
}

.supertask-bullet {
	margin-left: -7px !important;
}

.supertask-title {
	font-size: 16px !important
}

.leaftask-title {
	font-size: 15px !important;
}

#login-form {
	width: 600px;
	margin: 150px auto;
	padding: 33px;
	border-radius: 13px;
}

#supertask-icon-header {
	width: 300px;
	margin: auto;
	margin-bottom: 14px;
}

#login-header {
	display: inline;
	text-align: center;
}

.wrong-password-label {
	margin-bottom: 10px !important;
	cursor: default !important;
}

.mouseover-glove {
	cursor: pointer !important;
}

.active-tab {
	background: rgba(0, 0, 0, 0.03) !important;
}

#footer-content {
	margin-top: 15px;
	text-align: center;
}

.complete-goal-tab {
	background-color: #5abd71;
	border-radius: .25em;
	font-weight: bold;
	color: #fff;
	padding: 4px;
}